<template>
  <div id="app">
    <div>
      <label><input type="checkbox" v-model="first.value" name="first" value="1" @change="sendUpdate">1</label>
      <label><input type="checkbox" v-model="first.value" name="first" value=”2” @change="sendUpdate">2</label>
      <label><input type="checkbox" v-model="first.value" name="first" value="3" @change="sendUpdate">3</label>
    </div>
    <div>
      <label><input type="checkbox" v-model="second.value" name="second" value="a" @change="sendUpdate">a</label>
      <label><input type="checkbox" v-model="second.value" name="second" value=”b” @change="sendUpdate">b</label>
    </div>
    <div>
      <label><input type="text" v-model="third.value" name="third" value="" @change="sendUpdate">text</label>
    </div>
  </div>
</template>

<script>

export default {
  name: 'App',

  data() {
    return {
      first: {value: [], hash: ''},
      second: {value: [], hash: ''},
      third: {value: '', hash: ''}
    }
  },

  sockets: {
    connect: function () {
      console.log('socket connected');
    },
    init: function (data) {
      this.first = data['first'];
      this.second = data['second'];
      this.third = data['third'];
    },
    update: function (data) {
      console.log('update: ', data);
      this[data.key].value = data.value;
      this[data.key].hash = data.hash;
    },
    ack: function (data) {
      console.log('ack: ', data);
      this[data.key].value = data.value;
      this[data.key].hash = data.hash;
    }
  },

  methods: {
    sendUpdate(e) {
      this.$socket.emit('update', { key: e.target.name, value: this[e.target.name].value, hash: this[e.target.name].hash });
    }
  }
}
</script>

<style lang="scss">
#app {
  padding: 2rem;

  >div {
    margin-bottom: 2rem;

    label {
      display: block;
      max-width: 100px;

      + label {
        margin-top: 0.2rem;
      }
    }

    input {
      margin-right: 1rem;
    }
  }
}
</style>
